footer {
  background-color: rgb(255, 0, 0);
  margin: auto;
  padding: auto;
}
.final {
  padding: 20px 20px;
  border-radius: 2px;
  background: linear-gradient(red, rgb(243, 208, 208), red);
  text-align: center;
  font-size: 25px;
}
